# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Dependency directories
npm-debug.log
.pnp
.pnp.js
*.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Windows
Thumbs.db

# my env is inside src/config
src/config/.env